<!DOCTYPE html>
<!-- CREATE ITEM PAGE -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <h1>Web Store Backend</h1>
        <a href="/create">Create Item</a>
        <a href="/all">Item Cataloge</a>
        {{> user}}
    </nav>
    <main>
        <article>
            <p>In this interface you can:</p><br>
            <ul>
                <li>Add</li>
                <li>Delete</li>
                <li>Update</li>
                <li>List</li>
            </ul><br>
            <p>The items in the store</p>
            <aside>Every item has it's own name,price,quantity,image,description and unique id</aside>
        </article>

    </main>
    <footer><h2>Created by Stoyan Todorov ® {{date}}</h2></footer>
</body>
</html>