<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <a href="/create">Create</a>
        <a href="/update">Update</a>
        <a href="/delete">Delete</a>
    </nav>
    <p>{{action}} Store:</p>
    <form action="/submit">
        <input name="name" type="text" placeholder="Item name"></br>
        <input name="price" type="number" placeholder="Price"></br>
        <input name="qty" type="number" placeholder="Quantity"></br>
        <input name="description" type="text" placeholder="description"></br>
        <input name="imgUrl" type="file" name="image" id="file-upload"></br>
        <input type="submit" value="Add">
    </form>
</body>
</html>