<!DOCTYPE html>
<!-- ALL ITEMS ITEM PAGE -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <h1>Web Store Backend</h1>
        <a href="/">back to Homepage</a>
        {{> user}}
    </nav>
    <h1>Goods:</h1>
    {{>catalogue}}
</body>
</html>