<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Store Admin</title>
    <style>
        body{
            font-family: 'Courier New', Courier, monospace;
        }
        a{
            font-size: 15px;
        }
    </style>
</head>
<body>
    <h1>Welcome to store admin</h1>
    <div width="200" style="border: solid 1px;" >
        <a href="/register" >Please register here</a><br>
        If you already have an account please login:
    </div><br>
    <form action="/login" method="post">
        <input type="text" name="user" id="user" placeholder="Username"><br>
        <input type="password" name="pass" id="pass" placeholder="password"><br>
        <input type="submit" value="Log-in">
    </form>
</body>
</html>